<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="10">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} | %level [%c{1}] - %m%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, DEBUG=blue, TRACE=blue}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.reflections.Reflections" level="ERROR"/>
    </Loggers>
</Configuration>